{% extends 'app_shell.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1 class="mt-4">Booking Details</h1>

    <h2 class="mt-4">Booking Details #{{ booking.id }}</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Client First Name</th>
                <th scope="col">Client Last Name</th>
                <th scope="col">Client Email</th>
                <th scope="col">Client Phone</th>
                <th scope="col">Booking State</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Model</th>
                <th scope="col">Car Number Plate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.booking_date }}</td>
                <td>{{ booking.client.user.first_name }}</td>
                <td>{{ booking.client.user.last_name }}</td>
                <td>{{ booking.client.user.email }}</td>
                <td>{{ booking.client.phone_number }}</td>
                <td class="text-center">
                    {% if booking.status == 'pending' %}
                        <span class="badge rounded-pill text-bg-secondary">
                            {{ booking.get_status_display }}
                        </span>
                    {% elif booking.status == 'in_progress' %}
                        <span class="badge rounded-pill text-bg-success">
                            {{ booking.get_status_display }}
                        </span>
                    {% elif booking.status == 'done' %}
                        <span class="badge rounded-pill text-bg-success">
                            {{ booking.get_status_display }}
                        </span>
                    {% else %}
                        <span class="badge rounded-pill text-bg-danger">
                            {{ booking.get_status_display }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ booking.car_brand }}</td>
                <td>{{ booking.car_model }}</td>
                <td>{{ booking.car_number_plate }}</td>
            </tr>
        </tbody>
    </table>


    <h2 class="mt-4">Quotation</h2>
    <div>
        <h3>Create Quotation Item</h3>
        <form>
            {% csrf_token %}
            {{ quotation_item_form|crispy }}
            <button class="btn btn-primary">Create Item</button>
        </form>
    </div>

    <h3 class="mt-4">Quotation Items</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
            </tr>
        </thead>
        <tbody>
        {% for line in booking.quotation.quotation_lines %}
            <tr>
                <td>{{ line.description }}</td>
                <td>{{ line.quantity }}</td>
                <td>USD {{ line.unit_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
