{% extends 'app_shell.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">

    <h1 class="mt-4">Booking Details</h1>

    {% include 'partials/alerts.html' %}
    <h3 class="mt-4">Booking Details #{{ booking.id }}</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Client First Name</th>
                <th scope="col">Client Last Name</th>
                <th scope="col">Client Email</th>
                <th scope="col">Client Phone</th>
                <th scope="col">Booking State</th>
                <th scope="col">Car Brand</th>
                <th scope="col">Car Model</th>
                <th scope="col">Car Number Plate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.booking_date }}</td>
                <td>{{ booking.client.user.first_name }}</td>
                <td>{{ booking.client.user.last_name }}</td>
                <td>{{ booking.client.user.email }}</td>
                <td>{{ booking.client.phone_number }}</td>
                <td class="text-center">
                    {% if booking.status == 'pending' %}
                        <span class="badge rounded-pill text-bg-secondary">
                            {{ booking.get_status_display }}
                        </span>
                    {% elif booking.status == 'in_progress' %}
                        <span class="badge rounded-pill text-bg-success">
                            {{ booking.get_status_display }}
                        </span>
                    {% elif booking.status == 'done' %}
                        <span class="badge rounded-pill text-bg-success">
                            {{ booking.get_status_display }}
                        </span>
                    {% else %}
                        <span class="badge rounded-pill text-bg-danger">
                            {{ booking.get_status_display }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ booking.car_brand }}</td>
                <td>{{ booking.car_model }}</td>
                <td>{{ booking.car_number_plate }}</td>
            </tr>
        </tbody>
    </table>


    <h3 class="mt-4">Quotation</h3>
    <div>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#add-client-modal">Add Quotation Item</button>
        </div>
        <div class="modal fade" id="add-client-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Quotation Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              
              {% include 'core/quotation_line_form.html' %}
              
            </div>
          </div>
        </div>
    </div>

    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
        {% if quotation_lines|length == 0  %}
            <tr>
                <td colspan="4" class="text-center">No lines found</td>
            </tr>
        {% endif %}

        {% for line in quotation_lines %}
            <tr>
                <td>{{ line.description }}</td>
                <td>{{ line.quantity }}</td>
                <td>USD {{ line.unit_price }}</td>
                <td class="d-flex justify-content-between">
                    <span>USD {{ line.total_price }}</span>
                    <form method="post" action="{% url 'core:delete_quotation_line' line_id=line.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-end fw-bold">Total Price</td>
            <td class="fw-bolder text-danger">
                USD {{ booking.quotation.total_price }}
            </td>
        </tr>
        </tbody>
    </table>

</div>

{% endblock %}

{% block js %}
    <script src="{% static 'core/js/booking.js' %}"></script>
{% endblock %}
