{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div>

    <h2 class="mt-4">List Clients</h2>

    {% include 'core/partials/alerts.html' %}

    <div>
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#add-client-modal">Add Client</button>
        </div>

        <div class="modal fade" id="add-client-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Client</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="post" action="{% url 'core:create_client' %}">
                  <div class="modal-body">
                      {% csrf_token %}
                      {{ create_client_form|crispy }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>

    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th>Client ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Is Password Set</th>
            <th>Date Created</th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.user.first_name }}</td>
            <td>{{ client.user.last_name }}</td>
            <td>{{ client.phone_number }}</td>
            <td>{{ client.user.email }}</td>
            <td>
                {% if client.is_password_set %}  Yes  {% else %}  No {% endif %}
            </td>
            <td>{{ client.created }}</td>
            <td>
                <a href="{% url 'core:edit_client' pk=client.id %}" class="btn btn-sm btn-primary">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
